<!doctype html>
{% load static %}
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Vault</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg bg-warning">
      <div class="container-fluid">
        <img src="{% static 'images/movie-vault1.png' %}" class="rounded-end-circle" style="width: 50px; height: auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-dark" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'trending_movies' %}">Trending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'movies_random' %}">Surprise</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'filter_movies' %}">Find Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'contacts' %}">Contacts</a>
            </li>
          </ul>
         <ul class="navbar-nav mb-2 mb-lg-0">
              <form class="d-flex" role="search" method="GET" action="{% url 'movie_search' %}">
                  <input class="form-control me-2" type="search" name="query" placeholder="Search for movies..." aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </ul>
          <ul></ul>

          <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled text-dark" aria-disabled="true">Welcome,</a>
            </li>
            <li class="nav-item dropstart">
              <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'user_settings' %}">Settings</a></li>
                <li><a class="dropdown-item" href="{% url 'watchlist' %}">Watchlist</a></li>
                  {% if user.is_superuser %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/admin/">Admin Panel</a></li>
                    <li><a class="dropdown-item" href="{% url 'admin_view' %}">Admin View</a></li>
                  {% else %}
                  {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>

          {% else %}
            <li class="nav-item">
                <a class="navbar-brand text-dark" href="{% url 'user_settings' %}">Login</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
      <div class="container bg-dark">
        {% block content %}
        {% endblock %}
      </div>
      <footer class="footer">
        <div class="container">
            <span class="d-block p-2 text-bg-dark text-center">© 2024 Movie Vault. All rights reserved.</span>
        </div>
        <div class="container" style="width: 100px;">
          <img src="{% static 'images/movie-vault1.png' %}" class="rounded-circle" style="width: 100px; height: auto;">
        </div>
      </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
